
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #2D2E32;
    font-family: 'Poppins', sans-serif;

    .navbar{
        background-color: #ffffff1f;
    }
 
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.profile{
    border-radius: 50%;
    border: 5px solid #6FF4A7;
}

.logo {
    font-weight: bolder;
    color: #fff;

    span{
      color: #6FF4A7;
    }
}

.text-content {
    font-family: 'Poppins' , sans-serif;

    h5{
        color: #fff;
    }
    h2{
        font-weight: bolder;
        color: #6FF4A7;
    }
    h4{
        color: #fff;
    }
}

.links{
    color: #fff;
    margin-top: 2rem;
    ul{
        display: flex;
        width: 16rem;
        justify-content: space-around;
        li{
            list-style: none;
        }
    }
}

i{
    color: #6FF4A7;
    transition: .2s ease-out;
    transform: scale(1.5);
    &:hover{
        color: #fff;
    }
}
